/*======================================================================================================
                                         About Us Part Start
======================================================================================================= */
#about{
  padding: 80px 0;
}
.about_content{
  padding: 35px;
  border: 1px solid $border_col;
  border-radius: 5px;
  background: $alice_blue;
  h6{
    color: $dark_violet_col;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    line-height: 30px;
  }
  p{
    color: $charcol_col;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
  }
  ul{
    list-style-type: disc;
    margin-left: 35px;
    li{
      line-height: 26px;
      text-align: justify;
    }
  }
  h5{
    color: $brown_col;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
  }
  h4{
    color: $charcol_col;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .about-icon{
    text-align: center;
    margin-top: 10px;
    a{
      margin-right: 8px;
      i{
        color: $white_col;
        font-size: 16px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        background: $dark_violet_col;
      }
    }
  }
}