$common_font_size : 16px;
$dark_violet_col : #5200C6;
$white_col : #fff;
$charcol_col : #454545;
$alice_blue : #f1f8ff;
$brown_col : #A95216;
$border_col: rgba(82, 0, 198,.2);
$border_hover_col : rgba(82, 0, 198,.4);
$background_col : rgba(0,0,0,.2);
$white_bg_col : rgba(255, 255, 255,.8);

@mixin trans($time) {
  transition: all linear $time;
  -webkit-transition: all linear $time;
  -moz-transition: all linear $time;
  -o-transition: all linear $time;
}
@mixin transformY($y){
  transform: translateY(-$y);
  -webkit-transform: translateY(-$y);
  -moz-transform: translateY(-$y);
  -o-transform: translateY(-$y);
}

@mixin transformX($x){
  transform: translateX(-$x);
  -webkit-transform: translateX(-$x);
  -moz-transform: translateX(-$x);
  -o-transform: translateX(-$x);
}